@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");


.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.font-inter {
font-family: 'Inter', sans-serif;
text-align: center;
}


.font-bold {
  font-weight: bold;
}

.text-xl {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.leading-5 {
  line-height: 2;
}

.text-green-500 {
  color: #48bb78;
}

.text-gray-800 {
  color: #2d3748;
}

.text-center {
  text-align: center;
}

.dark\\:text-white {
  color: #ffffff;
}

.text-blue-600 {
  color: #3182ce;
}

.dark\\:text-blue-500 {
  color: #4299e1;
}

.after\\:content-\\\\\\\\::after {
  content: '';
}

.after\\:w-full::after {
  width: 100%;
}

.after\\:h-1::after {
  height: 0.25rem;
}

.after\\:border-b::after {
  border-bottom: 1px solid;
}

.after\\:border-gray-200::after {
  border-color: #edf2f7;
}

.after\\:border-1::after {
  border-width: 1px;
}

.after\\:hidden::after {
  display: none;
}

.sm\\:after\\:inline-block::after {
  display: inline-block;
}

.after\\:mx-6::after {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.xl\\:after\\:mx-10::after {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.dark\\:after\\:border-gray-700::after {
  border-color: #4a5568;
}

.horizontal-line {
position: absolute;
width: 100%; /* atau lebar yang Anda inginkan */
height: 1px; /* atau tinggi yang Anda inginkan */
border-bottom: 2px solid #48bb78;
}

.rumah {
margin-left: auto;
margin-top: -45px;
margin-right:50px;
}

.font-inter.text-lg {
font-size: 0.675rem; /* Sesuaikan dengan ukuran yang diinginkan */
}        
.field {
display: flex;
justify-content: space-between;
color :#325A44;
}

.field btns{
background-color: #325A44; /* Warna hijau */
border: none;
color: white;
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
margin-right:100px;
}

.firstNext:hover {
background-color: #45a049; /* Warna hijau yang sedikit lebih gelap saat hover */
}

/* body {
overflow-y:; 
} */

html, body {
height: 100%;
margin: 0;
}

/* Untuk elemen tertentu yang ingin tetap di posisi tertentu */
.header {
position: fixed;
top: 0;
width: 100%;
}

.footer {
position: fixed;
bottom: 0;
width: 100%;
}
/* Atur opacity menjadi 0 agar gambar tersembunyi */
#profile-pic {
opacity: 0;
transition: opacity 0.5s ease-in-out; /* Animasi transisi opacity */
}

/* Atur opacity menjadi 1 saat gambar ditampilkan */
#profile-pic.show {
opacity: 1;
}
.grid-radio {
display: grid;
grid-template-columns: repeat(2, max-content);
align-items: center; /* Memposisikan elemen secara vertikal di tengah */
gap: 8rem; /* Jarak antara elemen */
}

.grid-radio input[type="radio"] {
margin: 20px; /* Menghilangkan margin bawaan */
}

.page {
  margin-left: 500px;
  margin-right: 200px;
}
.title{
font-weight:600;
color:#325A44;
}

.firstNext.next{
  background-color: #289C5E; /* Warna hijau */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 360px;
  margin-left: -350px;
}
.btns .firstNext.next:hover {
  background-color: #45a049; /* Warna hijau yang sedikit lebih gelap saat hover */
}

.field.btns {
display: flex;
justify-content: flex-end;
}

.field-pph{
  display: flex;
  justify-content: space-between;
  color :#325A44;
}

.halo2{
  background-color: #289C5E; /* Warna hijau */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: -10px;
  margin-left: 20px;
  }
  
  .halo:hover {
  background-color: #45a049; /* Warna hijau yang sedikit lebih gelap saat hover */
  }

  .halo3{
    background-color: #289C5E; /* Warna hijau */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: -10px;
    margin-left: 20px;
    }
    
    .halo:hover {
    background-color: #45a049; /* Warna hijau yang sedikit lebih gelap saat hover */
    }

    @keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step .bullet.active:after {
  background: linear-gradient( #09c778, #01a0f9);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page:nth-child(2),
.page:nth-child(3) {
    display: none;
}