body {
            background-color: #f0f0f0;
        }

        .single-about {
            height: 300px;
        }

        .single-about>p {
            color: black;
        }

        .small-img {
            width: 50px;
            height: auto;
        }

        .text {
            margin-left: 370px;
            font-size: 14px;
            margin-top: -40px;
            font-weight: bold;
        }

        .box {
            width: 18%;
            max-width: 1030px;
            height: 150px;
            background-color: white;
            border: 20px solid transparent;
            background-clip: padding-box;
            border-radius: 30px;
            margin-top: 80px;
            position: relative;
            margin-left: 10px;
        }

        .box::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(to top, #289C5E, #4FA2ED);
            z-index: -1;
            border-radius: 20px;
        }

        .box1 {
            width: 700px;
            /* Sesuaikan ukuran kotak */
            max-width: 1350px;
            height: 400px;
            /* Sesuaikan ukuran kotak */
            background-color: white;
            /* Warna latar belakang kotak */
            border: 10px solid transparent;
            /* Membuat border transparan */
            background-clip: padding-box;
            /* Membatasi background agar tidak melewati border */
            border-radius: 10px;
            /* Membuat sudut kotak menjadi bulat */
            margin: auto;
            /* Menengahkan kotak secara horizontal */
            margin-top: -130px;
            margin-left: 250px;
            /* Jarak antara teks dan kotak */
            position: relative;
        }


        .box1::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(to top, #289C5E, #4FA2ED);
            z-index: -1;
            border-radius: 10px;
        }

        .box3 {
            max-width: 1350px;
            background-color: white;
            width: 240px;
            height: 230px;
            border: 10px solid transparent;
            background-clip: padding-box;
            border-radius: 10px;
            margin: auto;
            margin-top: -280px;
            margin-left: 770px;
            position: absolute;
        }

        .box3::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(to top, #289C5E, #4FA2ED);
            z-index: -1;
            border-radius: 10px;
        }

        .big-img {
            position: absolute;
            margin-right: 100px;
            margin-top: 50px;
            width: 1200px;
            height: auto;
        }

        .text-bold {
            font-weight: 900;
        }

        .text-left {
            text-align: left;
        }

        .red-text {
            color: red;
            margin-bottom: 590px;
        }


        .no-margin {
            margin-bottom: 0;
        }

        .lowered-text {
            margin-top: 500px;
        }

        .time-box {
            border: 1px solid #ccc;
            border-radius: 10px;
            border-color: red;
            padding: 10px;
            width: 170px;
            height: 40px;
            margin-left: 490px;
            margin-top: 20px;
            display: inline-block;
            font-weight: 800;
        }

        .input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #3498db;
            border-radius: 50%;
            outline: none;
            margin-right: 5px;
        }

        .number-button {
            background-color: #4CAF50;
            background-image: linear-gradient(to right, #4CAF50, #2196F3);
            color: white;
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 10%;
            border: none;
            margin: 5px;
        }

        .number-list {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .number-list li {

            flex: 0 0 calc(50% - 10px);
            margin-bottom: 10px;
            justify-content: flex-start;
        }

        .number-button1 {
            margin-left: -50px;
            padding: 5px 12px;
            border-radius: 10%;
        }

        .number-button2 {
            margin-left: 10px;

            padding: 5px 10px;
            border-radius: 10%;
        }

        .number-button3 {
            margin-left: 10px;

            padding: 5px 10px;
            border-radius: 10%;
        }

        .number-button4 {
            margin-left: 10px;

            padding: 5px 10px;
            border-radius: 10%;
        }

        .number-button5 {
            margin-right: auto;
            margin-left: -50px;
            display: block;

            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 10%;

        }

        .finish-button {
            background-color: #4CAF50;
            background-image: linear-gradient(to right, #4CAF50, #2196F3);
            color: white;
            padding: 5px 14px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 75px;
            margin-left: 30px;
            width: 120px;
        }

        .next-button {
            background-color: #4CAF50;
            background-image: linear-gradient(to right, #4CAF50, #2196F3);
            color: white;
            padding: 7px 20px;
            /* Increase padding for larger button */
            border: none;
            cursor: pointer;
            margin-top: 200px;
            margin-left: 40px;
            width: 150px;
            /* Increase width for larger button */
            float: right;
            /* Align to the right */
            margin-right: 310px;
            /* Adjust margin as needed */
        }


        .awal-button {
            background-image: linear-gradient(to right, #4CAF50, #2196F3);
            padding: 7px 20px;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 130px;
            margin-left: -5px;
            width: 150px;
        }


        .radio-container {
            display: flex;
            flex-direction: row;
        }

        .radio-container input[type="radio"],
        .radio-container label {
            margin-right: 10px;
        }

        .radio-container {
            display: flex;
            flex-direction: row;
        }

        .radio-container input[type="radio"],
        .radio-container label {
            margin-right: 10px;
        }



        .footer {
            text-align: center;
            padding: 10px;
            background-color: #f0f0f0#666666;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-top: 300px;
        }

        .text-black {
            color: black;
        }
        .footer {
            background-color: #f8f9fa;
            color: black;
            padding: 7px;
            /* Padding */
            display: flex;
            /* Gunakan flexbox */
            align-items: center;
            /* Pusatkan secara vertikal */
            justify-content: center;
            /* Pusatkan secara horizontal */
            margin-top: 500px;
            margin-left: center;
        }
       
        